<?xml version='1.0' encoding='UTF-8'?>
<image name='HAMSTA' displayname='HAMSTA' schemaversion='5.8'>
  <description type='system'>
    <author>Lukas Lipavsky</author>
    <contact>qa-auto@suse.de</contact>
    <specification>HAMSTA on SLES 11 SP3</specification>
  </description>
  <preferences>
    <type checkprebuilt='true' boot='vmxboot/suse-SLES11' fsnocheck='true' filesystem='ext3' image='vmx'>
      <size unit='M' additive='false'>16384</size>
    </type>
    <version>0.0.1</version>
    <packagemanager>zypper</packagemanager>
    <rpm-check-signatures>false</rpm-check-signatures>
    <rpm-force>false</rpm-force>
    <locale>en_US</locale>
  </preferences>
  <users group='root'>
    <user name='root' password='$1$F2WqbkCG$55kehTQWWhf0m2tlsBAhV0' home='/root' shell='/bin/bash'/>
  </users>
  <packages type='image' patternType='onlyRequired'>
    <namedCollection name='base'/>
    <package name='SuSEfirewall2'/>
    <package name='iputils'/>
    <package name='kernel-default'/>
    <package name='less'/>
    <package name='mdadm'/>
    <package name='openssl-certs'/>
    <package name='perl-satsolver'/>
    <package name='suse-sam'/>
    <package name='suse-sam-data'/>
    <package name='syslog-ng'/>
    <package name='tar'/>
    <package name='vim'/>
    <package name='yast2'/>
    <package name='yast2-firstboot'/>
    <package name='yast2-ncurses'/>
    <package name='zypper'/>
    <package name='grub'/>
    <package name='mysql'/>
    <package name='qa_hamsta-master'/>
    <package name='qa_hamsta-frontend'/>
    <namedCollection name='lamp_server'/>
  </packages>
  <packages type='bootstrap'>
    <package name='filesystem'/>
    <package name='glibc-locale'/>
    <package name='module-init-tools'/>
  </packages>
  <repository type='yast2' imageinclude='true' alias='sles-11-sp3'>
	  <source path='{{ repositories['SLES-11-SP3'] }}'/>
  </repository>
  <repository type='rpm-md' imageinclude='true' alias='sles-11-sp3-Updates'>
	  <source path='{{ repositories['SLES-11-SP3-Updates'] }}'/>
  </repository>

  <!-- we need sdk for kiwi tools. -->
  <repository type='yast2' imageinclude='true' alias='sle-11-sp3-sdk'>
	  <source path='{{ repositories['SLE-11-SP3-SDK'] }}'/>
  </repository>

  <repository type='rpm-md' imageinclude='true' alias='sle-11-sp3-sdk-Updates'>
	  <source path='{{ repositories['SLE-11-SP3-SDK-Updates'] }}'/>
  </repository>
  
  <repository type='rpm-md' imageinclude='true' alias='qaauto'>
  	  <source path='{{ repositories['QA-SLE-11-SP3-Update'] }}' />
  </repository>
</image>
