<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.diagnostics.SecurityIsOffMonitor</string>
  </disabledAdministrativeMonitors>
  <version>1.605</version>
  <numExecutors>10</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:alice</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:calen</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:james</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jerry</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:john</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:kathy</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:lance</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:nathan</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:sero</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:violet</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:alice</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:calen</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:james</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jerry</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:john</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:kathy</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:lance</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:nathan</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:sero</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:violet</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:alice</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:calen</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:james</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jerry</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:john</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:kathy</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:lance</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:nathan</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:sero</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:violet</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:alice</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:calen</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:james</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jerry</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:john</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:kathy</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:lance</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:nathan</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:sero</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:violet</permission>
    <permission>hudson.model.Computer.Build:admin</permission>
    <permission>hudson.model.Computer.Build:alice</permission>
    <permission>hudson.model.Computer.Build:calen</permission>
    <permission>hudson.model.Computer.Build:james</permission>
    <permission>hudson.model.Computer.Build:jerry</permission>
    <permission>hudson.model.Computer.Build:john</permission>
    <permission>hudson.model.Computer.Build:kathy</permission>
    <permission>hudson.model.Computer.Build:lance</permission>
    <permission>hudson.model.Computer.Build:nathan</permission>
    <permission>hudson.model.Computer.Build:sero</permission>
    <permission>hudson.model.Computer.Build:violet</permission>
    <permission>hudson.model.Computer.Configure:admin</permission>
    <permission>hudson.model.Computer.Configure:alice</permission>
    <permission>hudson.model.Computer.Configure:calen</permission>
    <permission>hudson.model.Computer.Configure:james</permission>
    <permission>hudson.model.Computer.Configure:jerry</permission>
    <permission>hudson.model.Computer.Configure:john</permission>
    <permission>hudson.model.Computer.Configure:kathy</permission>
    <permission>hudson.model.Computer.Configure:lance</permission>
    <permission>hudson.model.Computer.Configure:nathan</permission>
    <permission>hudson.model.Computer.Configure:sero</permission>
    <permission>hudson.model.Computer.Configure:violet</permission>
    <permission>hudson.model.Computer.Connect:admin</permission>
    <permission>hudson.model.Computer.Connect:alice</permission>
    <permission>hudson.model.Computer.Connect:calen</permission>
    <permission>hudson.model.Computer.Connect:james</permission>
    <permission>hudson.model.Computer.Connect:jerry</permission>
    <permission>hudson.model.Computer.Connect:john</permission>
    <permission>hudson.model.Computer.Connect:kathy</permission>
    <permission>hudson.model.Computer.Connect:lance</permission>
    <permission>hudson.model.Computer.Connect:nathan</permission>
    <permission>hudson.model.Computer.Connect:sero</permission>
    <permission>hudson.model.Computer.Connect:violet</permission>
    <permission>hudson.model.Computer.Create:admin</permission>
    <permission>hudson.model.Computer.Create:alice</permission>
    <permission>hudson.model.Computer.Create:calen</permission>
    <permission>hudson.model.Computer.Create:james</permission>
    <permission>hudson.model.Computer.Create:jerry</permission>
    <permission>hudson.model.Computer.Create:john</permission>
    <permission>hudson.model.Computer.Create:kathy</permission>
    <permission>hudson.model.Computer.Create:lance</permission>
    <permission>hudson.model.Computer.Create:nathan</permission>
    <permission>hudson.model.Computer.Create:sero</permission>
    <permission>hudson.model.Computer.Create:violet</permission>
    <permission>hudson.model.Computer.Delete:admin</permission>
    <permission>hudson.model.Computer.Disconnect:admin</permission>
    <permission>hudson.model.Computer.Disconnect:alice</permission>
    <permission>hudson.model.Computer.Disconnect:calen</permission>
    <permission>hudson.model.Computer.Disconnect:james</permission>
    <permission>hudson.model.Computer.Disconnect:jerry</permission>
    <permission>hudson.model.Computer.Disconnect:john</permission>
    <permission>hudson.model.Computer.Disconnect:kathy</permission>
    <permission>hudson.model.Computer.Disconnect:lance</permission>
    <permission>hudson.model.Computer.Disconnect:nathan</permission>
    <permission>hudson.model.Computer.Disconnect:sero</permission>
    <permission>hudson.model.Computer.Disconnect:violet</permission>
    <permission>hudson.model.Hudson.Administer:admin</permission>
    <permission>hudson.model.Hudson.Administer:alice</permission>
    <permission>hudson.model.Hudson.Administer:calen</permission>
    <permission>hudson.model.Hudson.Administer:jerry</permission>
    <permission>hudson.model.Hudson.Administer:john</permission>
    <permission>hudson.model.Hudson.Administer:violet</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:admin</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:alice</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:calen</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:james</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:jerry</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:john</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:kathy</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:lance</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:nathan</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:sero</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:violet</permission>
    <permission>hudson.model.Hudson.Read:admin</permission>
    <permission>hudson.model.Hudson.Read:alice</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:calen</permission>
    <permission>hudson.model.Hudson.Read:james</permission>
    <permission>hudson.model.Hudson.Read:jerry</permission>
    <permission>hudson.model.Hudson.Read:john</permission>
    <permission>hudson.model.Hudson.Read:kathy</permission>
    <permission>hudson.model.Hudson.Read:lance</permission>
    <permission>hudson.model.Hudson.Read:nathan</permission>
    <permission>hudson.model.Hudson.Read:sero</permission>
    <permission>hudson.model.Hudson.Read:violet</permission>
    <permission>hudson.model.Hudson.RunScripts:admin</permission>
    <permission>hudson.model.Hudson.RunScripts:alice</permission>
    <permission>hudson.model.Hudson.RunScripts:calen</permission>
    <permission>hudson.model.Hudson.RunScripts:james</permission>
    <permission>hudson.model.Hudson.RunScripts:jerry</permission>
    <permission>hudson.model.Hudson.RunScripts:john</permission>
    <permission>hudson.model.Hudson.RunScripts:kathy</permission>
    <permission>hudson.model.Hudson.RunScripts:lance</permission>
    <permission>hudson.model.Hudson.RunScripts:nathan</permission>
    <permission>hudson.model.Hudson.RunScripts:sero</permission>
    <permission>hudson.model.Hudson.RunScripts:violet</permission>
    <permission>hudson.model.Hudson.UploadPlugins:admin</permission>
    <permission>hudson.model.Hudson.UploadPlugins:alice</permission>
    <permission>hudson.model.Hudson.UploadPlugins:calen</permission>
    <permission>hudson.model.Hudson.UploadPlugins:james</permission>
    <permission>hudson.model.Hudson.UploadPlugins:jerry</permission>
    <permission>hudson.model.Hudson.UploadPlugins:john</permission>
    <permission>hudson.model.Hudson.UploadPlugins:kathy</permission>
    <permission>hudson.model.Hudson.UploadPlugins:lance</permission>
    <permission>hudson.model.Hudson.UploadPlugins:nathan</permission>
    <permission>hudson.model.Hudson.UploadPlugins:sero</permission>
    <permission>hudson.model.Hudson.UploadPlugins:violet</permission>
    <permission>hudson.model.Item.Build:admin</permission>
    <permission>hudson.model.Item.Build:alice</permission>
    <permission>hudson.model.Item.Build:calen</permission>
    <permission>hudson.model.Item.Build:james</permission>
    <permission>hudson.model.Item.Build:jerry</permission>
    <permission>hudson.model.Item.Build:john</permission>
    <permission>hudson.model.Item.Build:kathy</permission>
    <permission>hudson.model.Item.Build:lance</permission>
    <permission>hudson.model.Item.Build:nathan</permission>
    <permission>hudson.model.Item.Build:sero</permission>
    <permission>hudson.model.Item.Build:violet</permission>
    <permission>hudson.model.Item.Cancel:admin</permission>
    <permission>hudson.model.Item.Cancel:alice</permission>
    <permission>hudson.model.Item.Cancel:calen</permission>
    <permission>hudson.model.Item.Cancel:james</permission>
    <permission>hudson.model.Item.Cancel:jerry</permission>
    <permission>hudson.model.Item.Cancel:john</permission>
    <permission>hudson.model.Item.Cancel:kathy</permission>
    <permission>hudson.model.Item.Cancel:lance</permission>
    <permission>hudson.model.Item.Cancel:nathan</permission>
    <permission>hudson.model.Item.Cancel:sero</permission>
    <permission>hudson.model.Item.Cancel:violet</permission>
    <permission>hudson.model.Item.Configure:admin</permission>
    <permission>hudson.model.Item.Configure:alice</permission>
    <permission>hudson.model.Item.Configure:calen</permission>
    <permission>hudson.model.Item.Configure:james</permission>
    <permission>hudson.model.Item.Configure:jerry</permission>
    <permission>hudson.model.Item.Configure:john</permission>
    <permission>hudson.model.Item.Configure:kathy</permission>
    <permission>hudson.model.Item.Configure:lance</permission>
    <permission>hudson.model.Item.Configure:nathan</permission>
    <permission>hudson.model.Item.Configure:sero</permission>
    <permission>hudson.model.Item.Configure:violet</permission>
    <permission>hudson.model.Item.Create:admin</permission>
    <permission>hudson.model.Item.Create:alice</permission>
    <permission>hudson.model.Item.Create:calen</permission>
    <permission>hudson.model.Item.Create:james</permission>
    <permission>hudson.model.Item.Create:jerry</permission>
    <permission>hudson.model.Item.Create:john</permission>
    <permission>hudson.model.Item.Create:kathy</permission>
    <permission>hudson.model.Item.Create:lance</permission>
    <permission>hudson.model.Item.Create:nathan</permission>
    <permission>hudson.model.Item.Create:sero</permission>
    <permission>hudson.model.Item.Create:violet</permission>
    <permission>hudson.model.Item.Delete:admin</permission>
    <permission>hudson.model.Item.Discover:admin</permission>
    <permission>hudson.model.Item.Discover:alice</permission>
    <permission>hudson.model.Item.Discover:anonymous</permission>
    <permission>hudson.model.Item.Discover:calen</permission>
    <permission>hudson.model.Item.Discover:james</permission>
    <permission>hudson.model.Item.Discover:jerry</permission>
    <permission>hudson.model.Item.Discover:john</permission>
    <permission>hudson.model.Item.Discover:kathy</permission>
    <permission>hudson.model.Item.Discover:lance</permission>
    <permission>hudson.model.Item.Discover:nathan</permission>
    <permission>hudson.model.Item.Discover:sero</permission>
    <permission>hudson.model.Item.Discover:violet</permission>
    <permission>hudson.model.Item.Read:admin</permission>
    <permission>hudson.model.Item.Read:alice</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:calen</permission>
    <permission>hudson.model.Item.Read:james</permission>
    <permission>hudson.model.Item.Read:jerry</permission>
    <permission>hudson.model.Item.Read:john</permission>
    <permission>hudson.model.Item.Read:kathy</permission>
    <permission>hudson.model.Item.Read:lance</permission>
    <permission>hudson.model.Item.Read:nathan</permission>
    <permission>hudson.model.Item.Read:sero</permission>
    <permission>hudson.model.Item.Read:violet</permission>
    <permission>hudson.model.Item.Workspace:admin</permission>
    <permission>hudson.model.Item.Workspace:alice</permission>
    <permission>hudson.model.Item.Workspace:calen</permission>
    <permission>hudson.model.Item.Workspace:james</permission>
    <permission>hudson.model.Item.Workspace:jerry</permission>
    <permission>hudson.model.Item.Workspace:john</permission>
    <permission>hudson.model.Item.Workspace:kathy</permission>
    <permission>hudson.model.Item.Workspace:lance</permission>
    <permission>hudson.model.Item.Workspace:nathan</permission>
    <permission>hudson.model.Item.Workspace:sero</permission>
    <permission>hudson.model.Item.Workspace:violet</permission>
    <permission>hudson.model.Run.Delete:admin</permission>
    <permission>hudson.model.Run.Delete:alice</permission>
    <permission>hudson.model.Run.Delete:calen</permission>
    <permission>hudson.model.Run.Delete:james</permission>
    <permission>hudson.model.Run.Delete:jerry</permission>
    <permission>hudson.model.Run.Delete:john</permission>
    <permission>hudson.model.Run.Delete:kathy</permission>
    <permission>hudson.model.Run.Delete:lance</permission>
    <permission>hudson.model.Run.Delete:nathan</permission>
    <permission>hudson.model.Run.Delete:sero</permission>
    <permission>hudson.model.Run.Delete:violet</permission>
    <permission>hudson.model.Run.Update:admin</permission>
    <permission>hudson.model.Run.Update:alice</permission>
    <permission>hudson.model.Run.Update:calen</permission>
    <permission>hudson.model.Run.Update:james</permission>
    <permission>hudson.model.Run.Update:jerry</permission>
    <permission>hudson.model.Run.Update:john</permission>
    <permission>hudson.model.Run.Update:kathy</permission>
    <permission>hudson.model.Run.Update:lance</permission>
    <permission>hudson.model.Run.Update:nathan</permission>
    <permission>hudson.model.Run.Update:sero</permission>
    <permission>hudson.model.Run.Update:violet</permission>
    <permission>hudson.model.View.Configure:admin</permission>
    <permission>hudson.model.View.Configure:alice</permission>
    <permission>hudson.model.View.Configure:calen</permission>
    <permission>hudson.model.View.Configure:james</permission>
    <permission>hudson.model.View.Configure:jerry</permission>
    <permission>hudson.model.View.Configure:john</permission>
    <permission>hudson.model.View.Configure:kathy</permission>
    <permission>hudson.model.View.Configure:lance</permission>
    <permission>hudson.model.View.Configure:nathan</permission>
    <permission>hudson.model.View.Configure:sero</permission>
    <permission>hudson.model.View.Configure:violet</permission>
    <permission>hudson.model.View.Create:admin</permission>
    <permission>hudson.model.View.Create:alice</permission>
    <permission>hudson.model.View.Create:calen</permission>
    <permission>hudson.model.View.Create:james</permission>
    <permission>hudson.model.View.Create:jerry</permission>
    <permission>hudson.model.View.Create:john</permission>
    <permission>hudson.model.View.Create:kathy</permission>
    <permission>hudson.model.View.Create:lance</permission>
    <permission>hudson.model.View.Create:nathan</permission>
    <permission>hudson.model.View.Create:sero</permission>
    <permission>hudson.model.View.Create:violet</permission>
    <permission>hudson.model.View.Delete:admin</permission>
    <permission>hudson.model.View.Read:admin</permission>
    <permission>hudson.model.View.Read:alice</permission>
    <permission>hudson.model.View.Read:calen</permission>
    <permission>hudson.model.View.Read:james</permission>
    <permission>hudson.model.View.Read:jerry</permission>
    <permission>hudson.model.View.Read:john</permission>
    <permission>hudson.model.View.Read:kathy</permission>
    <permission>hudson.model.View.Read:lance</permission>
    <permission>hudson.model.View.Read:nathan</permission>
    <permission>hudson.model.View.Read:sero</permission>
    <permission>hudson.model.View.Read:violet</permission>
    <permission>hudson.scm.SCM.Tag:admin</permission>
    <permission>hudson.scm.SCM.Tag:alice</permission>
    <permission>hudson.scm.SCM.Tag:calen</permission>
    <permission>hudson.scm.SCM.Tag:james</permission>
    <permission>hudson.scm.SCM.Tag:jerry</permission>
    <permission>hudson.scm.SCM.Tag:john</permission>
    <permission>hudson.scm.SCM.Tag:kathy</permission>
    <permission>hudson.scm.SCM.Tag:lance</permission>
    <permission>hudson.scm.SCM.Tag:nathan</permission>
    <permission>hudson.scm.SCM.Tag:sero</permission>
    <permission>hudson.scm.SCM.Tag:violet</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.1">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves>
    <slave>
      <name>147.2.207.30</name>
      <description>Hamster server</description>
      <remoteFS>/var/lib/amazon_jenkins_workspece</remoteFS>
      <numExecutors>20</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.9">
        <host>147.2.207.30</host>
        <port>22</port>
        <credentialsId>18c414e7-5b8b-4232-90f9-35b92bb4119e</credentialsId>
        <maxNumRetries>0</maxNumRetries>
        <retryWaitTime>0</retryWaitTime>
      </launcher>
      <label>Hamster</label>
      <nodeProperties/>
      <userId>anonymous</userId>
    </slave>
    <slave>
      <name>147.2.207.100</name>
      <description></description>
      <remoteFS>/var/lib/amazon_jenkins_workspece</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.9">
        <host>147.2.207.100</host>
        <port>22</port>
        <credentialsId>37c2b5f3-1e9a-4324-827d-f762142b6d72</credentialsId>
        <maxNumRetries>0</maxNumRetries>
        <retryWaitTime>0</retryWaitTime>
      </launcher>
      <label>147.2.207.100</label>
      <nodeProperties/>
      <userId>anonymous</userId>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>