<?xml version='1.0' encoding='UTF-8'?>
<com.tikal.jenkins.plugins.multijob.MultiJobProject plugin="jenkins-multijob-plugin@1.18">
  <actions/>
  <description>&lt;font color=&quot;orange&quot; size=4&gt;&lt;b&gt;Summary: &lt;/font&gt;: Guest Migration test mainly tests whether migrating various supported vm guests from a low version product source host to a high or equal version product destination host are successful and whether the virtualualization administration test over the guests before and after the migration are successful. It suppors both ways (Manual | Automatic) to be executed in parallel. &#xd;
You could select sutiable for yourself parameters or default on dashboard to tirgger the job.&lt;/b&gt;&lt;br&gt;&lt;br&gt;&#xd;
&#xd;
&lt;font color=&quot;orange&quot; size=4&gt;&lt;b&gt;Project: &lt;/font&gt;Virtualization&lt;/b&gt;&lt;br&gt;&lt;br&gt;&#xd;
&#xd;
&lt;font color=&quot;orange&quot; size=4&gt;&lt;b&gt;Work Flow: &lt;/font&gt;&lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&#xd;
1 Install host server on original physical machine through parameter [ORG_PRODUCT] to selected product version ; &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&#xd;
2 Install host server on destination physical machine through parameter [DEST_PRODUCT] to selected product version ; &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
3 Switch (kvm or xen) kernel on both host original and destination; &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
4 Update relevant packages on both host original and destination; &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
5 Set up test environment, including closing firewall, set up share storage, mount on host and so on; &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
6 Install vm guests on original host, vm guests can be set through parmaeter [GUEST_PRODUCT]. &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
7 Backup vm guest data, mainly disk and xml configuration file; &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
8 Do migration test; &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
9 Clean up test environment, including opening firewall, unmounting share storage, recover xend and libvirtd configurations; &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
10 Statistic result and Generate cucumber report; &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
11 Send mail notification ; &lt;br&gt;&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.52">
          <name>ORG_PRODUCT</name>
          <description>&lt;font color=&quot;black&quot;, size=4&gt;&lt;b&gt;Original Product Version&lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>8</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>SLES-11-SP3-64.XEN,SLES-11-SP3-64.KVM,SLES-11-SP4-64.XEN,SLES-11-SP4-64.KVM,SLES-12-SP0-64.XEN,SLES-12-SP0-64.KVM,SLES-12-SP1-64.XEN,SLES-12-SP1-64.KVM</value>
          <defaultValue>SLES-12-SP1-64.XEN,SLES-12-SP1-64.KVM</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.52">
          <name>DEST_PRODUCT</name>
          <description>&lt;font color=&quot;black&quot;, size=4&gt;&lt;b&gt;Destination Product Version&lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>8</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>SLES-11-SP3-64.XEN,SLES-11-SP3-64.KVM,SLES-11-SP4-64.XEN,SLES-11-SP4-64.KVM,SLES-12-SP0-64.XEN,SLES-12-SP0-64.KVM,SLES-12-SP1-64.XEN,SLES-12-SP1-64.KVM</value>
          <defaultValue>SLES-12-SP1-64.XEN,SLES-12-SP1-64.KVM</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>HOST_LIST</name>
          <description>&lt;font color=&quot;black&quot;, size=4&gt;&lt;b&gt;Input a group host, at least 2 or multiple of 2 test machines&lt;/b&gt;&lt;/font&gt;
</description>
          <defaultValue>151.155.144.32,151.155.144.33</defaultValue>
        </hudson.model.StringParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.52">
          <name>GUEST_PRODUCT</name>
          <description>&lt;font color=&quot;black&quot;, size=3&gt;&lt;b&gt;VM-Guest OS type, you may select any type of products as vm-guest os installs on host &lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>6</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>sles-11-sp3,sles-11-sp4,sles-12-sp0,sles-12-sp1</value>
          <defaultValue>sles-11-sp3,sles-11-sp4,sles-12-sp0,sles-12-sp1</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.52">
          <name>TEST_MODE</name>
          <description>&lt;font color=&quot;black&quot; size=3&gt;&lt;b&gt;Std means that using standard repo&apos;s package to execute test.&lt;br&gt;Dev means that using developer repo&apos;s package to execute test&lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>2</visibleItemCount>
          <type>PT_RADIO</type>
          <value>dev</value>
          <defaultValue>dev</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VIRT_PRODUCT_VERSION</name>
          <description>&lt;font color=&quot;black&quot;, size=4&gt;&lt;b&gt; Virtualization production version&lt;/b&gt;&lt;/font&gt;</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>HamsterServer_151.155.144.50</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>python /usr/share/qa/virtautolib/jenkins/jenkins_run_devel.py -t gm --gm-host ${HOST_LIST} --gm-org-product ${ORG_PRODUCT} --gm-dest-product ${DEST_PRODUCT} --gm-guest-product &quot;${GUEST_PRODUCT}&quot; --tst_mode ${TEST_MODE} --virt-product-ver &quot;${VIRT_PRODUCT_VERSION}&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher plugin="flexible-publish@0.15.2">
      <publishers>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.core.FileExistsCondition" plugin="run-condition@1.0">
            <file>no_availiable_host.flg</file>
            <baseDir class="org.jenkins_ci.plugins.run_condition.common.BaseDirectory$Workspace"/>
          </condition>
          <publisherList>
            <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.40.5">
              <recipientList>xgwang@suse.com</recipientList>
              <configuredTriggers>
                <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
                  <email>
                    <recipientList>xgwang@suse.com,xlai@suse.com</recipientList>
                    <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                    <body>$PROJECT_DEFAULT_CONTENT</body>
                    <recipientProviders>
                      <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
                    </recipientProviders>
                    <attachmentsPattern></attachmentsPattern>
                    <attachBuildLog>false</attachBuildLog>
                    <compressBuildLog>false</compressBuildLog>
                    <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
                    <contentType>project</contentType>
                  </email>
                </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
              </configuredTriggers>
              <contentType>default</contentType>
              <defaultSubject>$DEFAULT_SUBJECT - [There is no available hosts to be executed test !!]</defaultSubject>
              <defaultContent>$DEFAULT_CONTENT

------------------------------------------------------
Notice : There is no available hosts to be run!!</defaultContent>
              <attachmentsPattern></attachmentsPattern>
              <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
              <attachBuildLog>false</attachBuildLog>
              <compressBuildLog>false</compressBuildLog>
              <replyTo>$DEFAULT_REPLYTO</replyTo>
              <saveOutput>false</saveOutput>
              <disabled>false</disabled>
            </hudson.plugins.emailext.ExtendedEmailPublisher>
          </publisherList>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
          <executionStrategy class="org.jenkins_ci.plugins.flexible_publish.strategy.FailAtEndExecutionStrategy"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.logic.Not" plugin="run-condition@1.0">
            <condition class="org.jenkins_ci.plugins.run_condition.core.FileExistsCondition">
              <file>no_availiable_host.flg</file>
              <baseDir class="org.jenkins_ci.plugins.run_condition.common.BaseDirectory$Workspace"/>
            </condition>
          </condition>
          <publisherList>
            <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.40.5">
              <recipientList>xgwang@suse.com,xlai@suse.com</recipientList>
              <configuredTriggers>
                <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
                  <email>
                    <recipientList>xgwang@suse.com,xlai@suse.com</recipientList>
                    <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                    <body>$PROJECT_DEFAULT_CONTENT</body>
                    <recipientProviders>
                      <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
                    </recipientProviders>
                    <attachmentsPattern></attachmentsPattern>
                    <attachBuildLog>false</attachBuildLog>
                    <compressBuildLog>false</compressBuildLog>
                    <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
                    <contentType>project</contentType>
                  </email>
                </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
              </configuredTriggers>
              <contentType>default</contentType>
              <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
              <defaultContent>$DEFAULT_CONTENT

Check console output to view the full result log:
    $BUILD_URL
Report link : 
    ${BUILD_URL}/cucumber-html-reports/</defaultContent>
              <attachmentsPattern>LOG/${BUILD_TAG}.tar.gz*</attachmentsPattern>
              <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
              <attachBuildLog>false</attachBuildLog>
              <compressBuildLog>false</compressBuildLog>
              <replyTo>$DEFAULT_REPLYTO</replyTo>
              <saveOutput>false</saveOutput>
              <disabled>false</disabled>
            </hudson.plugins.emailext.ExtendedEmailPublisher>
            <net.masterthought.jenkins.CucumberReportPublisher plugin="cucumber-reports@0.4.0">
              <jsonReportDirectory></jsonReportDirectory>
              <pluginUrlPath></pluginUrlPath>
              <fileIncludePattern>*.json</fileIncludePattern>
              <fileExcludePattern></fileExcludePattern>
              <skippedFails>false</skippedFails>
              <pendingFails>false</pendingFails>
              <undefinedFails>false</undefinedFails>
              <missingFails>false</missingFails>
              <noFlashCharts>false</noFlashCharts>
              <ignoreFailedTests>false</ignoreFailedTests>
              <parallelTesting>false</parallelTesting>
            </net.masterthought.jenkins.CucumberReportPublisher>
          </publisherList>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
          <executionStrategy class="org.jenkins_ci.plugins.flexible_publish.strategy.FailAtEndExecutionStrategy"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
      </publishers>
    </org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.1">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
  <pollSubjobs>false</pollSubjobs>
</com.tikal.jenkins.plugins.multijob.MultiJobProject>