<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.1">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.50">
          <name>PRODUCT</name>
          <description></description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>8</visibleItemCount>
          <type>PT_RADIO</type>
          <value>SLES-12-SP1,SLES-12-SP2</value>
          <defaultValue>SLES-12-SP1</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NUM</name>
          <description></description>
          <defaultValue>50</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -f ${JENKINS_HOME}/VIRT-DASHBOARD/pkl/last-build_gm_std${PRODUCT}.pkl

/usr/share/qa/dashboard_generator.py -p gm -t std -n ${NUM} -v ${PRODUCT}

build_path=`echo &quot;$JOB_URL&quot; | sed -e &quot;s@${JENKINS_URL}@${JENKINS_HOME}/@g&quot; -e &quot;s@/job/@/jobs/@g&quot;`

echo ${build_path}

cp -r ${JENKINS_HOME}/VIRT-DASHBOARD/archive ${build_path}/builds/${BUILD_NUMBER}/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher plugin="discard-old-build@1.05">
      <daysToKeep>-1</daysToKeep>
      <numToKeep>1</numToKeep>
      <resultsToDiscard>
        <hudson.model.Result>
          <name>FAILURE</name>
          <ordinal>2</ordinal>
          <color>RED</color>
          <completeBuild>true</completeBuild>
        </hudson.model.Result>
        <hudson.model.Result>
          <name>ABORTED</name>
          <ordinal>4</ordinal>
          <color>ABORTED</color>
          <completeBuild>false</completeBuild>
        </hudson.model.Result>
        <hudson.model.Result>
          <name>NOT_BUILT</name>
          <ordinal>3</ordinal>
          <color>NOTBUILT</color>
          <completeBuild>false</completeBuild>
        </hudson.model.Result>
      </resultsToDiscard>
      <minLogFileSize>-1</minLogFileSize>
      <maxLogFileSize>-1</maxLogFileSize>
      <intervalDaysToKeep>-1</intervalDaysToKeep>
      <intervalNumToKeep>-1</intervalNumToKeep>
      <regexp></regexp>
    </org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher>
    <hudson.plugins.summary__report.ACIPluginPublisher plugin="summary_report@1.13">
      <name>Prj3-Guest_Migration_Milestoneold.xml</name>
      <shownOnProjectPage>true</shownOnProjectPage>
    </hudson.plugins.summary__report.ACIPluginPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.1">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>