<?xml version='1.0' encoding='UTF-8'?>
<com.tikal.jenkins.plugins.multijob.MultiJobProject plugin="jenkins-multijob-plugin@1.16">
  <actions/>
  <description>This Job only supports one orginal product for migration test</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.1">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.50">
          <name>ORG_PRODUCT</name>
          <description>&lt;font color=&quot;black&quot;, size=4&gt;&lt;b&gt;Original Product Version&lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>6</visibleItemCount>
          <type>PT_SINGLE_SELECT</type>
          <value>SLES-11-SP3-64.XEN,SLES-11-SP3-64.KVM,SLES-11-SP4-64.XEN,SLES-11-SP4-64.KVM,SLES-12-SP0-64.XEN,SLES-12-SP0-64.KVM,SLES-12-SP1-64.XEN,SLES-12-SP1-64.KVM</value>
          <defaultValue>SLES-12-SP0-64.XEN</defaultValue>
          <multiSelectDelimiter> </multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@1.2">
          <name>DEST_PRODUCT</name>
          <description>&lt;font color=&quot;black&quot;, size=4&gt;&lt;b&gt;Destination Product Version&lt;/b&gt;&lt;/font&gt;</description>
          <randomName>choice-parameter-333174303585292</randomName>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <script>if (binding.variables.get(&apos;ORG_PRODUCT&apos;) != null) {
  gender = binding.variables.get(&apos;ORG_PRODUCT&apos;)
  if (gender == &apos;SLES-11-SP3-64.XEN&apos;)
    return [&apos;SLES-11-SP3-64.XEN&apos;, &apos;SLES-11-SP4-64.XEN&apos;]
  else if (gender == &apos;SLES-11-SP3-64.KVM&apos;)
    return [&apos;SLES-11-SP3-64.KVM&apos;, &apos;SLES-11-SP4-64.KVM&apos;, &apos;SLES-12-SP0-64.KVM&apos;, &apos;SLES-12-SP1-64.KVM&apos;]
  else if (gender == &apos;SLES-11-SP4-64.XEN&apos;)
    return [&apos;SLES-11-SP4-64.XEN&apos;, &apos;SLES-12-SP0-64.XEN&apos;]
  else if (gender == &apos;SLES-11-SP4-64.KVM&apos;)
    return [&apos;SLES-11-SP4-64.KVM&apos;, &apos;SLES-12-SP0-64.KVM&apos;, &apos;SLES-12-SP1-64.KVM&apos;]
  else if (gender == &apos;SLES-12-SP0-64.XEN&apos;)
    return [&apos;SLES-12-SP0-64.XEN&apos;, &apos;SLES-12-SP1-64.XEN&apos;]
  else if (gender == &apos;SLES-12-SP0-64.KVM&apos;)
    return [&apos;SLES-12-SP0-64.KVM&apos;, &apos;SLES-12-SP1-64.KVM&apos;]
  else if (gender == &apos;SLES-12-SP1-64.XEN&apos;)
    return [&apos;SLES-12-SP1-64.XEN&apos;]
  else if (gender == &apos;SLES-12-SP1-64.KVM&apos;)
    return [&apos;SLES-12-SP1-64.KVM&apos;]
  else
    return [&apos;None&apos;]
}else {
  return [&apos;No UsableParameter&apos;]
}</script>
            <fallbackScript></fallbackScript>
          </script>
          <visibleItemCount>1</visibleItemCount>
          <parameters class="linked-hash-map"/>
          <referencedParameters>ORG_PRODUCT</referencedParameters>
          <choiceType>PT_MULTI_SELECT</choiceType>
          <filterable>false</filterable>
        </org.biouno.unochoice.CascadeChoiceParameter>
        <hudson.model.StringParameterDefinition>
          <name>HOST_LIST</name>
          <description>&lt;font color=&quot;black&quot;, size=4&gt;&lt;b&gt;Input a group host, at least 2 test machines&lt;/b&gt;&lt;/font&gt;
</description>
          <defaultValue>147.2.207.214,147.2.207.194</defaultValue>
        </hudson.model.StringParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.50">
          <name>GUEST_PRODUCT</name>
          <description>&lt;font color=&quot;black&quot;, size=3&gt;&lt;b&gt;VM-Guest OS type, you may select any type of products as vm-guest os installs on host &lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>6</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>nw-65,oes-11,oes-2,rhel-3,rhel-4,rhel-5,rhel-6,rhel-7,sled-10,sled-11,sled-12,sles-10,sles-11,sles-12,sles-9,win-2k,win-2k12,win-2k12r2,win-2k3,win-2k8,win-2k8r2,win-7,win-8,win-8.1,win-vista,win-xp</value>
          <defaultValue>sled-11,sled-12,sles-11,sles-12</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.50">
          <name>TEST_MODE</name>
          <description>&lt;font color=&quot;black&quot; size=3&gt;&lt;b&gt;std means that using standard repo&apos;s package to execute test.&lt;br&gt;dev means that using developer repo&apos;s package to execute test&lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>2</visibleItemCount>
          <type>PT_RADIO</type>
          <value>std,dev</value>
          <defaultValue>dev</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VIRT_PRODUCT_VERSION</name>
          <description>&lt;font color=&quot;black&quot;, size=4&gt;&lt;b&gt; Virtualization production version&lt;/b&gt;&lt;/font&gt;</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>147.2.207.30</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>python /mnt/147.2.212.82/eclipse_ws/virt_prj3/jenkins_execute_prj3.py -t gm --gm-host ${HOST_LIST} --gm-org-product SLES-11-SP3-64.KVM --gm-dest-product SLES-12-SP1-64.KVM,SLES-12-SP0-64.KVM --gm-guest-product &quot;sled11,sles12&quot; --tst_mode ${TEST_MODE} --virt-product-ver &quot;ttttttttttttttttt&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <net.masterthought.jenkins.CucumberReportPublisher plugin="cucumber-reports@0.1.0">
      <jsonReportDirectory></jsonReportDirectory>
      <pluginUrlPath></pluginUrlPath>
      <fileIncludePattern>*.json</fileIncludePattern>
      <fileExcludePattern></fileExcludePattern>
      <skippedFails>false</skippedFails>
      <pendingFails>false</pendingFails>
      <undefinedFails>false</undefinedFails>
      <missingFails>false</missingFails>
      <noFlashCharts>false</noFlashCharts>
      <ignoreFailedTests>false</ignoreFailedTests>
      <parallelTesting>false</parallelTesting>
    </net.masterthought.jenkins.CucumberReportPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.1">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</com.tikal.jenkins.plugins.multijob.MultiJobProject>